* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100%;
}

input {
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Poppins';
    color: white;
}

body {
    background: rgb(72, 37, 97);
    background: linear-gradient(
        0deg,
        rgba(72, 37, 97, 1) 0%,
        rgba(103, 68, 128, 1) 100%
    );
    -webkit-font-smoothing: antialiased !important;
    font-family: 'Poppins';
    color: white;
    font-size: 16px;
}
